<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vuex.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<ul>
				<li v-for="(item,index) in stu" :key='index'>{{item}}</li>
			</ul>
			小于20岁
			<ul>
				<li v-for="(item,index) in xiaoyu20" :key='index'>{{item}}</li>
			</ul>
			<child></child>
		</div>
	</body>
	<script type="text/javascript">
		var child = {
			template: `<div>子组件小于20岁
			<ul>
				<li v-for="(item,index) in xiaoyu20" :key='index'>{{item}}</li>
			</ul>
			</div>
			`,
			computed: {
				xiaoyu20: function() {
					return this.$store.getters.xiaoyu20;
				}
			}
		}
		var mapState = Vuex.mapState;
		var store = new Vuex.Store({
			state: {
				stu: [{
						'id': 1,
						'name': '张三',
						'age': 19
					},
					{
						'id': 2,
						'name': '李四',
						'age': 21
					},
					{
						'id': 3,
						'name': '曾五',
						'age': 22
					},
					{
						'id': 4,
						'name': '王八',
						'age': 13
					},
				]
			},
			getters: {
				xiaoyu20: state => {
					return state.stu.filter(item => item.age < 20)
				}
			}
		})
		const vm = new Vue({
			el: '#app',
			data: {},
			computed: {
				...mapState({
					stu: state => state.stu
				}),
				xiaoyu20: function() {
					return this.$store.getters.xiaoyu20;
				}
			},
			components: {
				child: child
			},
			store: store
		})
	</script>
</html>
